<div class="page-layout">

  <div class="premium-card">

    <div class="premium-header">
      <div class="reservas-title">

        <h1>
          Mis Reservas
        </h1>

        <p>
          Consultá tus turnos, horarios y estado de reservas.
        </p>

        <span class="premium-badge">
          {{ reservasFiltradas.length }} reservas
        </span>

      </div>
    </div>

    <div class="premium-content">

      <div class="filtros">

        <input
          type="date"
          [(ngModel)]="filtro.fecha"
          (change)="filtrarReservas()"
        >

        <div class="categorias">

          <button
            *ngFor="let cancha of canchas"
            [class.active]="filtro.cancha === cancha"
            (click)="seleccionarCancha(cancha)"
          >
            {{ cancha }}
          </button>

        </div>

      </div>

      <div
        class="lista-reservas"
        *ngIf="reservasFiltradas.length > 0; else noReservas"
      >

        <div
          *ngFor="let reserva of reservasFiltradas"
          class="reserva-card"
        >

          <h2>
            Cancha {{ reserva.turno.cancha.numero }}
          </h2>

          <div class="info">

            <div class="info-item">
              <span class="label">Fecha</span>
              <span class="valor">{{ reserva.turno.fecha }}</span>
            </div>

            <div class="info-item">
              <span class="label">Horario</span>
              <span class="valor">
                {{ reserva.turno.horarioInicio }}
                -
                {{ reserva.turno.horario_fin }}
              </span>
            </div>

            <div class="info-item">
              <span class="label">Pelotas</span>
              <span class="valor">{{ reserva.cantidad_pelotas }}</span>
            </div>

            <div class="info-item">
              <span class="label">Paletas</span>
              <span class="valor">{{ reserva.cantidad_paletas }}</span>
            </div>

            <div class="info-item">
              <span class="label">Estado</span>

              <span
                class="estado"
                [ngClass]="{
                  'estado-confirmada': reserva.estado !== 'Cancelada',
                  'estado-cancelada': reserva.estado === 'Cancelada'
                }"
              >
                {{ reserva.estado }}
              </span>
            </div>

          </div>

          <button
            class="boton-cancelar"
            *ngIf="!esReservaCanceladaOExpirada(reserva)"
            (click)="cancelarReserva(reserva.id)"
          >
            Cancelar Reserva
          </button>

        </div>

      </div>

      <ng-template #noReservas>
        <div class="mensaje-vacio">
          No tenes reservas registradas.
        </div>
      </ng-template>

    </div>

  </div>

</div>