<nav class="navbar">
  <div class="navbar__container">

    <a routerLink="/" class="navbar-logo"></a>

    <button *ngIf="!isLoggedIn" (click)="navigateOrScroll('sobre-nosotros')" type="button">
      Sobre Nosotros
    </button>

    <button *ngIf="!isLoggedIn" (click)="navigateOrScroll('contactos')" type="button">
      Contacto
    </button>

    <button *ngIf="!isLoggedIn" (click)="navigateOrScroll('services')" type="button">
      Servicios
    </button>

    <button routerLink="/profesores" type="button">
      Nuestros Profesores
    </button>

    <button *ngIf="isLoggedIn" routerLink="/estadisticas" type="button">
      Estadísticas
    </button>
    
    <button *ngIf="!isLoggedIn" (click)="irALogin()" type="button">
      Iniciar Sesión
    </button>

    <button *ngIf="isLoggedIn" routerLink="/perfil" type="button">
      Mi perfil
    </button>

    <button *ngIf="isLoggedIn" routerLink="/mis-reservas" type="button">
      Mis reservas
    </button>

    <button *ngIf="isLoggedIn" (click)="logout()" type="button">
      Cerrar Sesión
    </button>

  </div>
</nav>